.appIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1.125rem;
  background-color: rgb(204, 251, 241);
  border-radius: 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.large {
  width: 2.5rem;
  height: 2.5rem;
}

.small {
  width: 2rem;
  height: 2rem;
}

.xs {
  width: 0.75rem;
  height: 0.75rem;
  font-size: 1rem;
}

.tiny {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
}

.rounded {
  border-radius: 9999px;
}